extends base.jade

block main_content
    .container
        h1 #{restaurant.name}
        table.table
            tr
        .row
            p.col-xs-12.col-sm-6
                a(href=url_for('random_restaurant')) Gimme another restaurant
            p.col-xs-12.col-sm-6.text-right
                a(href=url_for('restaurant_create')) Add a restaurant
