extends base.jade

block main_content
    div.center-vertically.text-center
        p.h1
            if restaurant
                | Go eat at #{restaurant.name}.
            else
                | No restaurants. You should add one.
        a(href=url_for('restaurant_details', restaurant_id=restaurant.id)) Gimme the deets!
