extends base.jade

block main_content
    div.center-vertically.text-center
        p.h1
            if restaurant
                | Get some #{restaurant.name}.
            else
                | No restaurants. You should 
                a(href=url_for('restaurant_create')) add one.

        if restaurant
            a(href=url_for('restaurant_details', restaurant_id=restaurant.id)) Gimme the deets!
